/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start of framework */

/* base defitions */
body {
    padding: 50px 0px 60px 0px;
}

/* header definitions */
.ui-page-theme-a header.ui-bar-inherit {
    background: #333;
    border: 0px none;
}
header {
    opacity: 1;
    font-size: initial;
    min-height: 50px;
}
header #row {
    display: flex;
}
header #left-menu,
header #right-menu {
    display: block;
    line-height: 52px;
    text-align: center;
    font-size: 19px;
    outline: none;
    color: #fff;
    flex: 0 0 54px;
    box-sizing: border-box;
    max-height: 50px;
}
header #left-menu a,
header #right-menu a {
    text-decoration: none;
    color: #fff;
    text-shadow: none;
}
header #brand {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 32px;
    text-shadow: none;
}


/* main definitions */
main {
    min-height: 5000px;
    background: #000000;
    background: -moz-linear-gradient(top, #ffffff 10%, #efefef 100%);
    background: -webkit-linear-gradient(top, #ffffff 10%,#efefef 100%);
    background: linear-gradient(to bottom, #ffffff 10%,#efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );
}

/* aside definitions */
aside {
    display: none;
}

/* footer definitions */
footer.ui-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 201;
    background: rgba(240,240,240,.90);
}
footer > ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    height: 60px;
}
footer > ul li {
    position: relative;
    flex: 1;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    border-right: 1px solid #dddddd;
}
footer > ul li:last-of-type {
    border-right: 0px none;
}
footer > ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    height: 100%;
    position: relative;
    text-decoration: none;
}
footer > ul li a > i {
    position: relative;
    font-size: 20px;
    display: block;
}


/*gruppe d*/

.case {
    display: flex;   
    align-items: center;    
    text-align:center;  
    justify-content: space-between;
    white-space: nowrap;
    height: 30px;
    padding: 0 15px 0 15px;
    font-size: 10px;
    text-transform: uppercase; 
}
.fc {
    display: flex;
    align-items: center;    
    justify-content: space-around;
    white-space: nowrap;
    height: 50px;
    background: #ccc;
    text-shadow: none;
    font-weight: bold;
}
.fc-right {
    margin-right: -50px;
}
.fc-left {
    margin-left: -30px;
}
.case-title {
    margin-right: 20px;
}
.chevron-item-left {
    height: 30px;
    width: 30px;
}
.star-item-right {
    height: 20px;
    width: 20px;
}

/*score*/

.bg_board {
   display: flex;
   justify-content: center; 
   background-color: #000;
   color: #fff;   
   height: 80px;
     
}
.score {   
      font-size:70px;   
      color: #eee;     
      margin: 20px; 
      align-self: center;   
}
.halzeit::before {
    position: absolute;
    content: '73`-2.Halbzeit';
    font-size: 10px;
    margin-left: -20px;   
}
.container {
    display: flex;
    justify-content: center;         
    border-bottom: 1px solid #ccc;  
    height: 38px;
}
.tab {
    display: flex;
    justify-content: space-around;
    margin: 1px;   
    border-right:  1px solid #ccc;
    width: 300px; 
    line-height: 38px;
}
.tab:nth-child(3) {
    border: none;
}
.tabs-one img, .tabs-two img, .tabs-three img {
    height: 20px;
    width: 20px;
    padding: 9px 0px;
    margin-right: 150px;
}
.tabs-three img {
    padding-top: 6px;
}
.t-text {
    margin-left: -170px;
    font-size: 9px;
    text-transform: uppercase;
    font-family: "Arial";
    font-weight: bold;
    letter-spacing: -0.5px;
}
.rates {
    width: 100%;
    margin: 0 auto;  
}
.flex-container {
    display: flex;
    height: 50px;
    text-shadow: none;
    border-bottom: 1px solid #ccc; 
    padding:5px;
    line-height: 50px;
    font-size: 12px;
    justify-content: center;
}
.flex-container.odd {
    background: #eee;
}
.flex-container.even { 
    background: #fff;
}
.flex-container > div {
    height: 100px;
    width: 100px;   
    margin-left: 15px;
    height: 50px;
}
.flex-container .one {
    color: #aaa;
}
.flex-container .one .line-one {
    display: block;
    line-height: 12px;
    margin: 11px 0 -16px 0;
}
.flex-container .one .line-two {
        line-height: 12px;
}
.flex-container .btn {
    background: linear-gradient(to bottom, rgba(252,252,252,1) 0%,rgba(226,226,226,1) 100%);
    border: 1px solid #aaa;
    color: black;
    text-align: center;
    text-decoration: none;  
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    align-self: center;
}

.flex-container .btn .number, 
.flex-container .btn .numbertwo {
    font-family: "Arial";
    display: block;
}

.flex-container .btn .number {
    line-height: 25px;
    text-align: left;
    margin-left:  10px;
    color: #aaa;
}

.flex-container .btn .numbertwo {
    margin-top: -38px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}

/*mediaQueries .case-title*/

@media screen and (min-width: 375px) {
    .case-title{
      justify-content:space-between;
    }    
}

@media screen and (min-width: 375px) {
    .case {
        padding: 0 5px 0 5px;
    }   
}

@media screen and (min-width: 300px) {
    .star-item-right {
       padding-bottom: 3px; 
    }   
}

@media screen and (min-width: 375px) {
    .fc {
        font-size: .75em;
    }    
}

/*mediaQueries  Tabs*/

@media screen and (min-width: 300px) {
   .tabs-one,
   .tabs-two, 
   .tabs-three {
            display: flex;
            justify-content: space-around;
          white-space: nowrap;
    }   
}